<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Ryan Wood loves building software, mentoring developers, spending time in
      the mountains, and riding his motorcycle. He is the co-founder of
      <a href="{{ site.moonclerk_url }}" target="_blank">MoonClerk</a>, a company that offers a
      powerful, intuitive suite of tools to help businesses accept recurring
      payments online. He is also the co-founder of
      <a href="{{ site.deerlab_url }}" target="_blank">DeerLab</a>, a company to help hunters and
      land managers gain more information from their trail camera photos to
      help in hunting and conservation.
    </p>
    <p>
      He has a BA from <a href="http://wheaton.edu" target="_blank">Wheaton College</a> in
      Philosophy and Theology and a MA from
      <a href="http://rts.edu" target="_blank">Reformed Thelogical Seminary</a> in Counseling.
      Somehow, that path led him into software development and
      he hasn't looked back. For more info, check out his
      <a href="{{ site.nav.main.writing }}">writing</a>,
      <!-- <a href="{{ site.nav.main.speaking }}">speaking</a>, -->
      <a href="{{ site.nav.main.projects }}">projects</a>, and
      <a href="{{ site.nav.main.photos }}">photos</a>.
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>
</div>
