<div class="icons">
  <a target="_blank" class="github" href="https://github.com/ryanwood" title="GitHub"></a>
  <a target="_blank" class="twitter" href="https://twitter.com/ryanwood" title="Twitter"></a>
  <a target="_blank" class="linkedin" href="http://www.linkedin.com/in/ryanwood/" title="Linked In"></a>
  <a target="_blank" class="delicious" href="https://delicious.com/ryanwood" title="Delicious"></a>
  <a class="email" href="mailto:hello@ryanwood.com" title="Email"></a>
  <a target="_blank" class="rss" href="/feed.xml" title="Atom Feed"></a>
</div>