<div class="center">
  <a href="{{ site.base_url }}">
    {% include image.html path=site.thumbnail_path alt=site.name class="border bg-white p1 border-light-gray circle square-100" %}
  </a>
  {% include header-h1.html %}
  <h2 class="page-description body-font gray mt0 h3 regular">
    Co-founder of <a href="{{ site.moonclerk_url }}" target="_blank">MoonClerk</a><br>
    Co-founder of <a href="{{ site.deerlab_url }}" target="_blank">DeerLab</a><br>
    <em>Proudly live & work in <a href="{{ site.living_in_greenville_url }}" target="_blank">Greenville, SC</a></em>
  </h2>
</div>
