.avatar {
  border-radius: 128px;
}
.brand {
  text-align:center;
  .logo {
    margin: 0 40px 10px;
    padding: 20px 50px;
    text-align: center;
    img { max-width: 100%; max-height: 100%; }
    a:hover { background-image: none; }
  }
  .deerlab {
    padding-top: 12px;
    background-color:#2F261E;
    border-radius: 7px;
    img { width: 300px; }
  }
  .ironyard {
    padding: 0;
    img { height: 170px; }
  }
}